# Mixedbread api key
MXBAI_API_KEY = ""

# Milvus Cluster endpoint and Token
ENDPOINT = "http://localhost:19530"
TOKEN = ""
COLLECTION_NAME = "arxiv"

# How many search results to return?
SEARCH_LIMIT = 11

# How many search results to use in reranking
RERANK_INPUT_SEARCH_LIMIT = 100