/*https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark*/
html {
    font-family:  Atkinson Hyperlegible Next;
    color-scheme: light dark;
}

body {
      margin: 0 auto;
      max-width: 50em;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      hyphens: auto;
      overflow-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
      background-color:light-dark( #f9fafb, #0b0f19);
      font-size: 1em;
}

/*From https://www.freecodecamp.org/news/remove-underline-from-link-in-css/ */
a {
    text-decoration: none;
    color: light-dark(#6366f1, #4f46e5);
}

h1 {
    font-size: 3em;
}

#about_title {
    text-align: right;
}

.site_brand {
    text-align: center;
    font-family: Special Elite;
}


/* From
https://stackoverflow.com/questions/78208300/how-do-i-center-search-button-next-to-the-search-bar-with-css */

/* Styling for the search container */
.search-container {
    text-align: center;
    margin-top: 20px;
    font-family: Inter;
}

/* Styling for the search input */
#search-input {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid light-dark( #cccccc, #333333);
    width: 75%;
    margin: auto;
    display: block;
    outline: none;
    resize: none;
    overflow: hidden;
    font-family: Inter;
}

/* Styling for the search input on hover */
#search-input:hover {
    box-shadow:light-dark( rgba(50, 51, 51, 0.2), rgba(255, 255, 255, 0.2)) 0px 2px 4px 1px;
}

#tip {
    color:light-dark( #808080, #7f7f7f);   /*virtually identical*/  
    font-size: 14px;
    font-family: Inter;
}


/* Styling for the filter dropdown */
select,
option {
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid light-dark( #cccccc, #333333);
    background-color:light-dark( #f0f0f0, #1a1a1a);
    color:light-dark( #333333, #cccccc);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    display: block;
    font-family: Inter;
}

/* Styling for the filter dropdown on hover */
select:hover,
select:focus {
  background:light-dark( #e0e0e0, #1f1f1f);
}


/* Styling for the search button */
#search-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid light-dark( #cccccc, #333333);
    background-color: light-dark( #f0f0f0, #1a1a1a);
    color: light-dark( #333333, #cccccc);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    display: block;
    font-family: Inter;
}

/* Styling for the search button on hover */
#search-button:hover {
    background-color:light-dark( #e0e0e0, #1f1f1f);
}

/*Loader to spin while results are loading*/
/* #13  from https://css-loaders.com/spinner/*/
#loader {
  width: 50px;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,light-dark(#6366f1, #4f46e5) 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,light-dark(#6366f1, #4f46e5));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

#results_title {
    font-family: Marcellus;
}

/*From https://stackoverflow.com/questions/14920401/how-to-simulate-hfill-with-html-and-css*/
.hfill {
    display: flex;
    justify-content: space-between;
}

#results_categories {
    font-family: Atkinson Hyperlegible Mono;
}

#to_top {
    position: fixed;
    line-height: 1;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    font-size: 32px;
    border: none;
    color: light-dark(#4f46e5, #e0e7ff);
    background-color: light-dark(#e0e7ff,#4f46e5 );
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

#to_top:hover {
    background-color: light-dark(#c7d4ff, #6366f1);
}