#about_title_index {
    text-align: right;
    color: #6366f1;
    font-family: Special Elite;

}
#about_title_about {
    text-align: right;
    font-family: Special Elite;
}

#site_title {
    text-align: center;
    color: #6366f1;
    font-family: Special Elite;
    font-size: 48px;
}

/*From https://www.freecodecamp.org/news/remove-underline-from-link-in-css/ */
#site_title_link, #about_link{
    text-decoration: none;
}

#site_subtitle {
    text-align: center;
    font-family: Special Elite;
}

#results_title {
    color: #6366f1;
}

body {
    background-color: #f9fafb;
}

html {
    font-family: Inter;
}

button {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
      margin: 0 auto;
      max-width: 50em;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      hyphens: auto;
      overflow-wrap: break-word;
      text-rendering: optimizeLegibility;
      font-kerning: normal;
}

/* From
https://stackoverflow.com/questions/78208300/how-do-i-center-search-button-next-to-the-search-bar-with-css */

/* Styling for the search container */
.search-container {
    text-align: center;
    margin-top: 20px;
}

/* Styling for the search input */
#search-input {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
    width: 75%;
    margin: auto;
    display: block;
    outline: none;
    resize: none;
    overflow: hidden;
}

/* Styling for the search input on hover */
/* Specify a single box-shadow using:

    Two, three, or four <length> values.
        If only two values are given, they are interpreted as <offset-x> and <offset-y> values.
        If a third value is given, it is interpreted as a <blur-radius>.
        If a fourth value is given, it is interpreted as a <spread-radius>. */

#search-input:hover {
    box-shadow: rgba(50, 51, 51, 0.2) 0px 2px 4px 1px;
}

#tip {
    color: #808080;
    font-size: 14px;
}


/* Styling for the filter dropdown */
#year_filter {
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    display: block;
}

/* Styling for the filter dropdown on hover */
#year_filter:hover {
    background-color: #e0e0e0;
}

/* Styling for the search button */
#search-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    display: block;
}

/* Styling for the search button on hover */
#search-button:hover {
    background-color: #e0e0e0;
}

/*Loader to spin while results are loading*/
/* #13  from https://css-loaders.com/spinner/*/
#loader {
  width: 50px;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#6366f1 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#6366f1);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/*From https://stackoverflow.com/questions/14920401/how-to-simulate-hfill-with-html-and-css*/
.hfill {
    display: flex;
    justify-content: space-between;
}

#result_abstract {
    font-family: Marcellus;
}